<div class="row mb-3">
  <div class="col-lg-12">
    <h3>Tarifas de Envio</h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-secondary d-flex justify-content-between" role="alert" *ngFor="let shipping of shippingCosts | async">
      <span>{{ shipping.type }}</span>
      <span>{{ shipping.price | currency }}</span>
    </div>
  </div>
</div>
