<header>
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <h1 class="text-white">Loja</h1>
      </a>

      <button [routerLink]="['/cart']" class="button fancy-button">
        <i class="material-icons">shopping_cart</i>Checkout
      </button>
    </div>
  </nav>
</header>
