<div class="row mb-3">
  <div class="col-lg-12">
    <h2>Detalhes do Produto</h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div *ngIf="product">
      <h4>{{ product.name }}</h4>
      <h3>{{ product.price | currency }}</h3>
      <p>{{ product.description }}</p>

      <button class="btn btn-primary float-right" (click)="addToCart(product)">Comprar</button>
    </div>
  </div>
</div>
