<div class="row mb-3">
  <div class="col-lg-12">
    <h3>Carrinho de Compras</h3>
  </div>
</div>

<div class="row mb-3">
  <div class="col-lg-12">
    <p>
      <a routerLink="/shipping">Tarifas de Envio</a>
    </p>

    <div class="alert alert-secondary d-flex justify-content-between" role="alert" *ngFor="let item of items">
      <span>{{ item.name }}</span>
      <span>{{ item.price | currency }}</span>
    </div>

    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
      <div class="form-group">
        <label for="name">Nome</label>
        <input id="name" type="text" class="form-control" formControlName="name">
      </div>

      <div class="form-group">
        <label for="address">Endereço</label>
        <input id="address" type="text" class="form-control" formControlName="address">
      </div>

      <button class="btn btn-primary float-right" type="submit">Comprar</button>
    </form>
  </div>
</div>
