<div class="row">
  <div class="col-lg-12">
    <h2>Produtos</h2>
  </div>
</div>

<div class="row" *ngFor="let product of products; index as productId">
  <div class="col-lg-12">
    <h3>
      <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
        {{ product.name }}
      </a>
    </h3>

    <p *ngIf="product.description">
      Description: {{ product.description }}
    </p>

    <button class="btn btn-primary mr-3" (click)="share()">Compartilhar</button>
    <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>

    <hr>
  </div>
</div>
